@import "../components/variables";

.navi-list {
  position: absolute;
  top: 100px;
  right: -100%;
  width: 90%;
  flex-direction: column;
  justify-content: start;
  height: auto;
  background-color: $burger-background;
  transition: all .45s ease 0s;
  overflow: auto;
}

.navi-list.active {
  right: 0;
}

.navi-item {
  color: $font-hover;
  font-size: 26px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 26px;
  padding: 25px 36px;
  text-align: start;
  height: auto;
  width: 100%;
}

.navi-list li {
  width: 100%;
  border-bottom: 4px solid $burger-border;
  height: 80px;
  display: flex;
  align-items: center;
}

.navi-list li:hover:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 53px;
  left: 0;
  background-color: $font-color;
  transition: all .25s ease 0s;
}

.navi-item:hover {
  color: $font-color;
  transition: all .1s ease 0s
}

.header__burger {
  display: block;
  position: relative;
  z-index: 2;
  width: 26px;
  height: 28px;
  cursor: pointer;
}

.header__burger span {
  position: absolute;
  background-color: $font-hover;
  right: 0;
  width: 15px;
  height: 3px;
  top: 0;
  border-radius: 5px;
  transition: all .3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 26px;
  border-radius: 5px;
  background-color: $font-hover;
  transition: all .3s ease 0s;
}

.header__burger:before {
  top: 10px;
}

.header__burger:after {
  top: 20px;
}

.header__burger.active span {
  transform: scale(0);
}

.header__burger.active:before {
  transform: rotate(45deg);
  top: 13px;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  top: 13px;
}

body.lock {
  overflow: hidden;
}
