
@import "../components/variables";

.header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.header-body{
    max-width: 1200px;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 6%;
    z-index: 2;
    background-color: $back-header;
    display: flex;
}

.logo {
    width: 43px;
    height: 41px;
    background-image: url("../images/pictograms/Logo.png");
}

.header-logo-container {
    display: flex;
    align-items: center;
    max-width: min-content;
    height:auto;
}

.header-logo-container:hover  .logo-name{
    color: $font-hover;
}

.header-logo-container:hover  .logo{
        background-image: url("../images/pictograms/logo-on-hover.png");
    }

.logo-name {
    display: inline-block;
    color: $font-color;
    font-size: 24px;
    font-family: Lato, serif;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}

.header-menu-container{
    display: flex;

}

.menu-list {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: $font-color;
    font-size: 26px;
    //font-family: Montserrat;
    font-weight: 400;
    line-height: 26px;
}


