@import "../components/variables";

.header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}


.logo {
    width: 43px;
    height: 41px;
    background-image: url("../images/pictograms/logo.png");
}

.header-logo-container {
    display: flex;
    align-items: center;
    max-width: min-content;
    height:auto;
}

.header-logo-container:hover  .logo-name{
    color: $font-hover;
    transition: all .3s ease 0s;
}

.header-logo-container:hover  .logo{
        background-image: url("../images/pictograms/logo-on-hover.png");
    transition: all .2s ease 0s;
    }

.logo-name {
    display: inline-block;
    color: $font-color;
    font-size: 24px;
    font-family: Lato, serif;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}

.header-menu-container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    //flex-wrap: wrap;
}




.menu-item:hover  {
    color: $font-hover;
    transition: all .3s ease 0s;
}

//.buy {
//    position: relative;
//    top: 0;
//    right: 0;
//}


