@import "../components/variables";
@media only screen and (min-width: 993px) {

    //----------------------- HEADER ------------------------------

    .container {
        padding: 0 6.5%;
    }
    .header-body {
        background-color: $back-header;
    }

    .header-menu {
        padding-top: 30px;
    }

    .logo {
        margin-right: 17px;
    }

    .navi-list {
        //flex-direction: row;

        justify-content: space-between;

        width: 45%;
        //
        //position: absolute;
        //top: 45px;
        //left: 43%;
    }

    //----------------------- FORK-UP -----------------------------
    .fork-title{
        font-size: 82px;
        font-weight: 700;
        line-height: 82px;
        margin: 170px 0 20px 0;
    }

    .fork-subtitle{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 19px;
    }

    .fork-version{
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 460px;
    }
    //----------------------- REVOLUTIONARY -----------------------
    //----------------------- TALKING ABOUT -----------------------
    //----------------------- SUBSCRIPTION ------------------------

}