
@media only screen and (min-width: 320px) and (max-width: 480px) {
  @import "../components/mixins";
  @import "../sections/burger";
  @import "../components/variables";
  
  //----------------------- HEADER ------------------------------
 .container {
   padding: 0 10px;
 }

  .header-body {
    background-color:  $header-tablet-background;
  }

  .header-menu {
    align-content: center;
    height: 100px;
  }

  .logo-name {
    display: none;
  }

  .navi-list {
    flex-direction: column;
  }

  .buy {
    @include button;
    width: 120px;
    height: 37px;
  }

  .download {
    @include button;
    width: 290px;
    height: 45px;
    font-size: 18px;
    line-height: 20px;
  }

  .buy:hover,
  .download:hover {
      background: $font-hover;
      color: $font-color;
  }

  //----------------------- FORK-UP -----------------------------
  .fork-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin: 160px 0 20px 0;
  }

  .fork-subtitle{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 230px;
  }

  .fork-version{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }

  .download {
    bottom: -23px;
  }

  //----------------------- REVOLUTIONARY -----------------------
  //----------------------- TALKING ABOUT -----------------------
  .some-paragraph {
    margin: 0 auto 130px auto;
  }
 

  .talking-container {
   grid-gap: 60px;
  }

  .talking-item {
    max-width: 300px;
  }


  //----------------------- SUBSCRIPTION ------------------------

}

