@media only screen and (min-width: 481px) and (max-width: 992px) {

    //----------------------- HEADER ------------------------------
    .logo {
        margin-right: 17px;
    }


    //----------------------- FORK-UP -----------------------------
    .fork-title{
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
        margin: 170px 0 20px 0;
    }

    .fork-subtitle{
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 19px;
    }

    .fork-version{
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        margin-bottom: 460px;
    }
    //----------------------- REVOLUTIONARY -----------------------
    //----------------------- TALKING ABOUT -----------------------
    //----------------------- SUBSCRIPTION ------------------------


}


