@import "../components/variables";
@media only screen and (min-width: 481px) and (max-width: 992px) {

    //----------------------- HEADER ------------------------------
    .logo {
        margin-right: 17px;
    }

    //.header-body:before {
    //    content: "";
    //    width: 100%;

    //    background-color: $header-tablet-background;
    //    position: absolute;
    //    z-index: 1;
    //}

    .header-body{
        width: 100%;
        height: 118px;
        align-items: center;
        //justify-content: space-between;
        position: relative;
        padding: 0 6%;
        z-index: 2;

        display: flex;
        flex-direction: row;
    }

    .menu-list {
        display: flex;
        text-decoration: none;
        color: $font-color;
        font-size: 16px;
        //font-family: Montserrat;
        font-weight: 700;
        line-height: 18px;
        justify-content: space-between;
        align-items: center;
        width: 67%;


        position: absolute;
        top: 85px;
        left: 20%;
    }
    .header-menu-container {
        flex-direction: column;
    }



    //----------------------- FORK-UP -----------------------------
    .fork-title{
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
        margin: 170px 0 20px 0;
    }

    .fork-subtitle{
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 19px;
    }

    .fork-version{
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        margin-bottom: 460px;
    }
    //----------------------- REVOLUTIONARY -----------------------
    //----------------------- TALKING ABOUT -----------------------
    //----------------------- SUBSCRIPTION ------------------------


}


