.header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-body {
    position: relative;
    max-width: 1380px;
    width: 100%;
    min-height: 100px;
    z-index: 2;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 43px;
    height: 41px;
    background-image: url("../images/pictograms/logo.png");
}

.header-logo-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: -moz-min-content;
    max-width: min-content;
    height: auto;
}

.header-logo-box:hover .logo-name {
    color: #fff;
    transition: all 0.3s ease 0s;
}

.header-logo-box:hover .logo {
    background-image: url("../images/pictograms/logo-on-hover.png");
    transition: all 0.2s ease 0s;
}

.logo-name {
    display: inline-block;
    color: #8D81AC;
    font-size: 24px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}

.navi-list {
    display: flex;
    text-decoration: none;
    color: #8D81AC;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 17px;
    margin: 0 5% 0 auto;
}

.navi-item {
    color: #8D81AC;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.navi-item:hover {
    color: #fff;
    transition: all 0.3s ease 0s;
}

.header__burger {
    display: none;
}