@import "components/mixins";
@import "components/variables";
@import "components/reset";

@import "sections/header";
@import "sections/footer";

@import "media_query/mobile";
@import "media_query/tablet";
@import "media_query/desktop";


.header-logo-container {
    display: flex;
    align-items: center;
    width: auto;
    height:auto;
}

.logo-name {
    color: $font-color;
    font-size: 24px;
    font-family: Lato;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}


