@import "components/mixins";
@import "components/variables";
@import "components/reset";

@import "sections/header";
@import "sections/footer";

@import "media_query/under320";
@import "media_query/mobile";
@import "media_query/tablet";
@import "media_query/desktop";

.wrapper{
    max-width: 1380px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.container{
    max-width: 1200px;
    //border: 2px solid rgb(80, 206, 153);
    //height: 100%;
    margin: 0 6%;
}


// -----------------------  MAIN ----------------------------------
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-item {
    color: $font-color;
    font-size: 16px;
    font-weight: 700;
}


// ------------------------ FORK APP section -------------------------
.fork-background {
    background-image: url("../images/background/forkApp.png");
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.fork-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fork-title{
    color: $font-hover;
    //font-family: Montserrat;
    font-weight: 700;
}
.fork-subtitle{
    color: $font-color;
    //font-family: Lato;
    font-weight: 400;

}
.fork-version{
    color: $font-version;
    text-align: center;
    //font-family: Montserrat;
    font-weight: 400;
    text-transform: uppercase;
}

a.fork-version:hover{
    color: $font-hover;
}




// ------------------------ REVOLUTIONARY section  --------------------


// ----------------------- TALKING ABOUT section ----------------------


// ------------------------ SUBSCRIPTION section------------------------